<h1>@Model.GetMake()</h1>

<ul>
  <li>@Model.GetModel()</li>
  <li>@Model.GetYear()</li>
  <li>@Model.GetPrice()</li>
  <li>@Model.GetMileage()</li>
</ul>

<form action="/view_all_cars/@Model.GetId()" method="post">
  <button type="submit" name="button">Delete This Car</button>
</form>
<a href='/add_new_car'>Add another cars</a></br>
<a href='/view_all_cars'>View all cars</a>
