<h1>@Model.GetMake()</h1>

<ul>
  <li>@Model.GetModel()</li>
  <li>@Model.GetYear()</li>
  <li>@Model.GetPrice()</li>
  <li>@Model.GetMileage()</li>
</ul>

<a href='/tasks/new'>Add another task</a></br>
<a href='/tasks'>View all tasks</a>
